 body{
        background-image: url(./images/netflix3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.801);
    }
    .jj{
        color: red;
        font-size: 45px;
        padding: 8px 0px 0px;
        font-family: sans-serif;
    }
    .jh{
        background-color: red;
        padding: 10px;
        margin-right: 15px;
        border-radius: 3px;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .jpj {
        /* background-color: white; */
        width: 400px;
        height: 6.5vh;
        padding: 3.5px;
        /* margin-left: 250px; */
        border: black;  
    }
    h2, h4, p {
        color: white;
        text-align: center;
        font-size: 25px;
    }
    .butt{
        background-color: red;
        color: white;
        height: 7.5vh;
        padding: 0px;
        width: 150px;
        font-size: 18px;
        border: 1px solid black;
        border-radius: 5px;
    }
    .divb{
/* background-color: aqua; */
display: flex;
align-items: center;
justify-content: space-between;
    }
    .butt:active{
            color: grey;
        }
    .ppj{
        margin-left: 9%;
        /* margin-right: auto; */
        display: flex;
    }